@tailwind base;
@tailwind components;
@tailwind utilities;

/* .all{
    padding: 0 100px;
}
@media screen and (max-width: 768px) {
  .all, .navbar{
    padding: 0;
  }
} */
.container{
  padding: 0 15px;
}